:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    margin: 0 auto;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    overflow-y: auto;
    height: 100vh;
    color: black;
    background: url("https://keku.pasha.design/6/img/bg/bg_puli_turnir.jpeg");
}

.title-small {
    font-family: IBM Plex Mono, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: black;
}

.body-medium {
    font-family: IBM Plex Mono, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(59, 80, 101, 1);
}

.label-medium {
    font-family: IBM Plex Mono, serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: rgba(59, 80, 101, 1);
}

.body-large {
    font-family: IBM Plex Mono, serif;
    font-weight: 500;
    font-size: 16px;
}
.vdr-container {
  position: absolute;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.vdr-container.active {
  border-color: #000;
  border-style: dashed;
}
.vdr-container.dragging {
  border-color: #000;
  border-style: solid;
}
.vdr-handle {
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  background: #f0f0f0;
  border: 1px solid #333;
}
.vdr-handle-tl {
  top: -4px;
  left: -4px;
  cursor: nw-resize;
}
.vdr-handle-tm {
  top: -4px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize;
}
.vdr-handle-tr {
  top: -4px;
  right: -4px;
  cursor: ne-resize;
}
.vdr-handle-ml {
  top: 50%;
  margin-top: -3px;
  left: -4px;
  cursor: w-resize;
}
.vdr-handle-mr {
  top: 50%;
  margin-top: -3px;
  right: -4px;
  cursor: e-resize;
}
.vdr-handle-bl {
  bottom: -4px;
  left: -4px;
  cursor: sw-resize;
}
.vdr-handle-bm {
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
  cursor: s-resize;
}
.vdr-handle-br {
  bottom: -4px;
  right: -4px;
  cursor: se-resize;
}
#wrapper[data-v-c8a743da] {
  background-color: rgb(251, 250, 251);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
}
#wrapper[data-v-c8a743da]:hover {
  background-color: rgb(234, 254, 242);
}
.name[data-v-c8a743da] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.name span[data-v-c8a743da] {
  display: block;
}
.fighter-image[data-v-c8a743da] {
  width: 52px;
  height: 52px;
  border-radius: 5px;
}
@media (max-width: 450px) {
.fighter-image[data-v-c8a743da] {
    width: 28px;
    height: 28px;
}
}
.fightPair[data-v-0bd74578] {
  display: flex;
  align-items: center;
  transition: height 0.5s ease;
}
.fighters[data-v-0bd74578] {
  padding: 7px;
  max-height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.union[data-v-0bd74578] {
  border-top: 2px solid rgba(232, 231, 232, 1);
  border-right: 2px solid rgba(232, 231, 232, 1);
  border-bottom: 2px solid rgba(232, 231, 232, 1);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}
.circle-top[data-v-0bd74578] {
  width: 8px;
  height: 8px;
  background-color: rgba(232, 231, 232, 1);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -4px;
}
.circle-bottom[data-v-0bd74578] {
  width: 8px;
  height: 8px;
  background-color: rgba(232, 231, 232, 1);
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  left: -4px;
}
@media (min-width: 450px) {
.fighters[data-v-0bd74578] {
    padding: 5px;
}
}

.label-medium {
  font-size: 8px;
  line-height: 10px;
  font-weight: 400;
  color: rgba(7, 28, 49, 1);
}
.wrapper[data-v-f3ccc5ab] {
  display: flex;
  flex-direction: column;
}
.match-icon[data-v-f3ccc5ab] {
  width: 20px;
  height: 20px;
}
.item[data-v-f3ccc5ab] {
  border-bottom: 2px solid rgb(240, 240, 240);
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}
.active[data-v-f3ccc5ab] {
  background-color: rgb(222, 238, 254);
  color: rgb(8, 94, 193) !important;
}
.right-side[data-v-f3ccc5ab] {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: rgb(8, 94, 193);
  border-radius: 5px;
}
.match[data-v-f3ccc5ab] {
  border: 1px solid #e8e7e8;
  border-right-width: 1px;
  border-bottom-width: 1px;
  background-color: #fbfafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.match-number[data-v-f3ccc5ab] {
  color: #071c31;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  letter-spacing: 0.32px;
}
.match-location[data-v-f3ccc5ab] {
  color: #071c31;
  font-family: "IBM Plex Mono", sans-serif;
  letter-spacing: 0.32px;
  margin-top: 10px;
}
.match-details[data-v-f3ccc5ab] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  gap: 6px;
  font-size: 14px;
  color: #707b93;
}
.match-icon[data-v-f3ccc5ab] {
  width: 14px;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.match-info[data-v-f3ccc5ab] {
  font-family: "IBM Plex Mono", sans-serif;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: auto 0;
}
.active-match[data-v-f3ccc5ab] {
  border: 1px solid #e8e7e8;
  border-right: 4px solid #095ec1;
  border-bottom-width: 1px;
  background-color: #deeeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #095ec1;
  box-sizing: border-box;
  align-items: center;
}
.new-match[data-v-f3ccc5ab] {
  border: 1px solid #e8e7e8;
  border-right-width: 1px;
  background-color: #fbfafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  color: #000505;
  line-height: 171%;
}
.new-match-button[data-v-f3ccc5ab] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #e8e7e8;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 570px;
  padding: 16px 19px;
  white-space: nowrap;
}
.new-match-icon[data-v-f3ccc5ab] {
  width: 18px;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.new-match-text[data-v-f3ccc5ab] {
  font-family: "IBM Plex Mono", sans-serif;
  margin: auto 0;
}
.puli__container[data-v-f3ccc5ab] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  border-right: 1px solid #e8e7e8;
  background: #fbfafb;
}
.nav_puli_box.nav_puli_active[data-v-f3ccc5ab] {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media (max-width: 450px) {
.match-number[data-v-f3ccc5ab] {
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
}
.match-location[data-v-f3ccc5ab] {
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
}
.match-info[data-v-f3ccc5ab] {
    font-size: 8px;
    line-height: 9px;
    font-weight: 400;
}
}#res_slide_box[data-v-51de8d56] {
  position: relative;
}
.parent[data-v-51de8d56] {
  position: absolute;
  top: 0;
  left: -1000px;
  height: auto;
  width: 3000px;
}
.vue3-draggable-resizable[data-v-51de8d56] {
  transition: all 0.5s ease;
}
p[data-v-51de8d56] {
  margin: 0;
  text-align: start;
}
.menu-wrapper[data-v-51de8d56] {
  width: 210px;
  background-color: rgb(251, 250, 251);
  border-right: 2px solid rgb(240, 240, 240);
}
p[data-v-51de8d56] {
  margin: 0;
  text-align: start;
}
#wrapper[data-v-51de8d56] {
  display: flex;
}
.event[data-v-51de8d56] {
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease;
}
.d-flex[data-v-51de8d56] {
  display: flex;
}
@media (max-width: 450px) {
body {
    overflow-x: hidden;
}
.title-small {
    font-family: IBM Plex Mono, serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: black;
}
.body-large {
    font-family: IBM Plex Mono, serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.body-medium {
    font-family: IBM Plex Mono, serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: rgba(59, 80, 101, 1);
}
}

.menu-wrapper[data-v-8021256e] {
  width: 210px;
  background-color: rgb(251, 250, 251);
  border-right: 2px solid rgb(240, 240, 240);
}
p[data-v-8021256e] {
  margin: 0;
  text-align: start;
}
#wrapper[data-v-8021256e] {
  display: flex;
}
.event[data-v-8021256e] {
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease;
}
.d-flex[data-v-8021256e] {
  display: flex;
}
